[Desktop Entry]
Type=Application
Icon=glooptoob.png
DBusActivatable=true
Name=GloopToob
GenericName=Media Downloader
Comment=Search and download from YouTube
Exec=sh -c "/home/$USER/.local/bin/glooptoob"
Terminal=false
Categories=Network;Video;TV;
Keywords=web;internet;YouTube;download;multimedia;video;songs;playlist;audio
StartupNotify=true
StartupWMClass=glooptoob
MimeType=
Path=
